In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('/Users/aida/Desktop/mlcourse/data/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 1. How many men and women (sex feature) are represented in this dataset?

In [15]:
# count unique values per female and male
# df.groupby(['sex']).nunique()
df.groupby(['sex'])['sex'].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

#### 2. What is the average age (age feature) of women?

In [22]:
df.groupby(['sex'])['age'].mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

#### 3. What is the percentage of German citizens (native-country feature)?

In [108]:
#nc = (df.groupby(['native-country'])['native-country'].count())
nc = df.groupby('native-country').size()

In [98]:
german_prc =  nc['Germany'] * 100 / nc.sum()
german_prc

0.42074874850281013

In [99]:
type(nc)

pandas.core.series.Series

#### 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)? *

In [127]:
df[df['salary'] == '>50K']['age'].mean()

44.24984058155847

In [128]:
df[df['salary'] == '>50K']['age'].std()

10.51902771985177

#### 5. What are the mean and standard deviation of age for those who earn less than 50K per year?

In [129]:
df[df['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [130]:
df[df['salary'] == '<=50K']['age'].std()

14.020088490824813

In [139]:
salary = df.groupby('salary')

In [140]:
salary['age'].agg([np.mean,np.std])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

#### 6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [157]:
sl = df[df['salary'] == '>50K']

In [165]:
filter_list = ['11th', '9th', '7th-8th', '12th', '1st-4th', '10th','5th-6th']
df[(df['salary'] == '>50K') & (df.education.isin(filter_list))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
183,40,Private,286370,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,>50K
214,54,Self-emp-inc,125417,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
415,35,Private,92440,12th,8,Divorced,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,>50K
588,52,Private,25826,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1887,47,United-States,>50K
592,60,Private,39352,7th-8th,4,Never-married,Transport-moving,Not-in-family,White,Male,0,0,48,United-States,>50K
660,44,Self-emp-not-inc,335183,12th,8,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,>50K
729,65,Self-emp-not-inc,118474,11th,7,Married-civ-spouse,Exec-managerial,Husband,White,Male,9386,0,59,?,>50K
934,37,Private,186934,11th,7,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,44,United-States,>50K
1391,40,Local-gov,289403,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,1887,40,?,>50K
1395,42,Private,230624,10th,6,Never-married,Transport-moving,Unmarried,White,Male,0,0,40,United-States,>50K
1495,28,Self-emp-inc,210295,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
1496,32,Private,80058,11th,7,Divorced,Sales,Not-in-family,White,Male,0,0,43,United-States,>50K
1531,40,Private,85995,10th,6,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
1533,49,Private,245305,10th,6,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,42,United-States,>50K
1978,48,Self-emp-not-inc,104790,11th,7,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,>50K
2003,72,Private,74141,9th,5,Married-civ-spouse,Exec-managerial,Wife,Asian-Pac-Islander,Female,0,0,48,United-States,>50K
2159,47,Self-emp-not-inc,121124,5th-6th,3,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,Italy,>50K
2190,50,Private,156877,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,>50K
2213,60,?,131852,5th-6th,3,Married-civ-spouse,?,Husband,White,Male,0,0,30,United-States,>50K
2332,23,Self-emp-not-inc,282604,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,7688,0,60,United-States,>50K
2348,62,Self-emp-not-inc,134768,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
2752,53,Self-emp-not-inc,174102,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,4386,0,50,Greece,>50K
2817,41,Private,237321,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,>50K
2986,64,Local-gov,244903,11th,7,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,>50K
3137,51,Private,252903,10th,6,Married-civ-spouse,Sales,Husband,White,Male,0,1977,40,United-States,>50K
3190,39,Private,338320,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K
3290,33,Private,83446,11th,7,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,>50K
3795,53,Private,137428,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,60,United-States,>50K
3879,43,Private,128212,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,0,40,Vietnam,>50K
3983,64,State-gov,550848,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27780,38,Private,287701,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,48,United-States,>50K
27892,38,Private,192337,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
27908,61,Private,159822,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,Poland,>50K
28002,32,Private,102986,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,0,40,Laos,>50K
28103,52,Self-emp-not-inc,183146,12th,8,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
28111,48,Private,141511,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
28123,37,Self-emp-not-inc,82540,9th,5,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,>50K
28428,39,Federal-gov,30673,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
28687,58,Self-emp-not-inc,105592,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K
28812,36,Self-emp-not-inc,328466,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,Mexico,>50K
28908,46,Private,176552,11th,7,Divorced,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,>50K
29038,28,Local-gov,154863,9th,5,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,Trinadad&Tobago,>50K
29173,61,Self-emp-not-inc,196773,7th-8th,4,Married-civ-spouse,Sales,Husband,White,Male,0,0,30,United-States,>50K
29239,48,Private,440706,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
29322,60,Private,532845,1st-4th,2,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,>50K
29392,56,Private,92215,9th,5,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,>50K
29401,60,Private,188650,5th-6th,3,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,?,>50K
30123,63,Self-emp-not-inc,29859,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,7688,0,60,United-States,>50K
30234,58,Federal-gov,72998,11th,7,Divorced,Craft-repair,Not-in-family,Black,Female,14084,0,40,United-States,>50K
30325,61,Private,81132,5th-6th,3,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,7298,0,40,Philippines,>50K
30363,69,Private,197080,12th,8,Married-civ-spouse,Transport-moving,Husband,White,Male,9386,0,60,United-States,>50K
30496,55,Private,134120,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
30701,53,Private,183973,11th,7,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30936,54,Private,154949,11th,7,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,40,United-States,>50K
31364,61,Self-emp-not-inc,113080,9th,5,Married-civ-spouse,Sales,Husband,White,Male,0,0,58,United-States,>50K
31998,52,?,89951,12th,8,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,>50K
32084,48,Private,105808,9th,5,Widowed,Transport-moving,Unmarried,White,Male,0,0,40,United-States,>50K
32138,50,Self-emp-inc,121441,11th,7,Never-married,Exec-managerial,Other-relative,White,Male,0,2444,40,United-States,>50K
32179,58,Private,250206,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
32214,22,Local-gov,164775,5th-6th,3,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,Guatemala,>50K

#### 7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [189]:
country = df.groupby('race')

In [190]:
country['age'].agg(np.max)

race
Amer-Indian-Eskimo    82
Asian-Pac-Islander    90
Black                 90
Other                 77
White                 90
Name: age, dtype: int64

#### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [197]:
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
df[(df.salary == '>50K') & (df['marital-status'].isin(married))].count()

age               6736
workclass         6736
fnlwgt            6736
education         6736
education-num     6736
marital-status    6736
occupation        6736
relationship      6736
race              6736
sex               6736
capital-gain      6736
capital-loss      6736
hours-per-week    6736
native-country    6736
salary            6736
dtype: int64

In [198]:
df[(df.salary == '>50K') & (~df['marital-status'].isin(married))].count()

age               1105
workclass         1105
fnlwgt            1105
education         1105
education-num     1105
marital-status    1105
occupation        1105
relationship      1105
race              1105
sex               1105
capital-gain      1105
capital-loss      1105
hours-per-week    1105
native-country    1105
salary            1105
dtype: int64

#### 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [223]:
df.groupby('hours-per-week')['hours-per-week'].size()

hours-per-week
1       20
2       32
3       39
4       54
5       60
6       64
7       26
8      145
9       18
10     278
11      11
12     173
13      23
14      34
15     404
16     205
17      29
18      75
19      14
20    1224
21      24
22      44
23      21
24     252
25     674
26      30
27      30
28      86
29       7
30    1149
      ...
65     244
66      17
67       4
68      12
70     291
72      71
73       2
74       1
75      66
76       3
77       6
78       8
80     133
81       3
82       1
84      45
85      13
86       2
87       1
88       2
89       2
90      29
91       3
92       1
94       1
95       2
96       5
97       2
98      11
99      85
Name: hours-per-week, Length: 94, dtype: int64

#### 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [232]:
lot = df[df.salary == '>50K']

In [233]:
country = lot.groupby('native-country')

In [235]:
country['hours-per-week'].agg(np.mean)

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [242]:
few = df[df.salary == '<=50K']
country_few = few.groupby('native-country')
few_japan = country_few['hours-per-week'].agg(np.mean)